h2 {
    font-size: 27px;
}
body{
background-image: url("../css/images/lonelyDiner.jpeg");
background-size: cover;
background-position: center;
background-attachment: fixed;

    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    
}



.centered{
    

    text-align: center;
    
    color: white;

}

#kevModal{
    
    border-radius: 20px;
    padding-bottom: 15px;
    width: 500px;
    margin: 50px auto 0 auto;
    overflow: auto; 
    background-color:rgba(255,255,255,0.3); 

}

#modelStuff{
position: relative;
font-family: 'Damion', cursive;
font-size: 80%;
color: white;
background-color: #ad000d
}
/* ----- FORGOT PASSWORD MODAL ----- */

.forgotPassword {
	color: white;
}
.loginBtns {
    margin-bottom: 7px;
    margin-top: 7px;
}
/* ----- BODY FONT? ----- */

/*html,
body {
	overflow-x: hidden;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	/*position: relative;*/
/*}*/

/* ----- buttons ----- */

.button:link,
.button:visited {
 	display: inline-block;
 	padding: 10px 30px;
 	text-decoration: none;
 	font-weight: 300;
 	border-radius: 200px;
}

.buttonFull:link,
.buttonFull:visited {
	margin-right: 15px;
 	background-color: #cf000f;
 	border: 1px solid #cf000f;
 	color: #fff;
 	-webkit-transition: background-color .25s, border .25s linear;
 	   -moz-transition: background-color .25s, border .25s linear;
 	    -ms-transition: background-color .25s, border .25s linear;
 	     -o-transition: background-color .25s, border .25s linear;
 	        transition: background-color .25s, border .25s linear;
}

.buttonGhost:link,
.buttonGhost:visited {
	background-color: transparent;
 	border: 1px solid #ccc;
 	color: #ccc;
 	-webkit-transition: background-color .25s, border .25s, color .25s linear;
 	   -moz-transition: background-color .25s, border .25s, color .25s linear;
 	    -ms-transition: background-color .25s, border .25s, color .25s linear;
 	     -o-transition: background-color .25s, border .25s, color .25s linear;
 	        transition: background-color .25s, border .25s, color .25s linear;
}

.buttonFull:hover,
.buttonFull:active {
 	background-color: #ad000d;
 	border: 1px solid #ad000d;
}

.buttonGhost:hover,
.buttonGhost:active {
	background-color: #ad000d;
 	border: 1px solid #ad000d;
 	color: #fff;
 }
 .searchButton {
	display:  block;
	margin: 10px auto 0 auto;
	padding:  5px 20px;
	border-radius: 50px;
	background-color: #cf000f;
	border: 1px solid #cf000f;
	color:  #fff;
	font-size:  90%;
	-webkit-transition: .25s ease;
	   -moz-transition: .25s ease;
	    -ms-transition: .25s ease;
	     -o-transition: .25s ease;
	        transition: .25s ease;
}

.searchButton:hover {
	background-color: #ad000d;
	border: 1px solid #ad000d;
}

.searchButton:focus {
	outline:  none;
}
/* ----- FORGOT PASSWORD MODAL ----- */
.modal2 {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0px;
	top:10px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #efefef;
	background-color: rgba(0,0,0,0.4);
}

.modalContent2 {
	position: relative;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.modalHeader2 {
	padding: 10px;
	background-color: #ad000d;
	color: white;
	font-weight: bold;
}

.modalBody2{
	background-color: white;
	color: black;
    font-size: 20px;
	padding-left: 100px;
    padding-right: 100px;
    padding-bottom:60px;
    padding-top:50px;
	text-align: center;
	margin: 0px 150px;
    font-weight: bold;
}

.close {
	color: white;
	float: right;
	font-size: 25px;
	font-weight: bold;
	margin-right: 10px;
}

.close:hover,
.close:focus {
	color: #E9D460;
	text-decoration: none;
	cursor: pointer;
}
.forgotInput {
border-radius: 7px;
width:50%;
padding:3px;
background-color: #fff;
border: solid #ccc;
margin-bottom: 30px;
height: 10%
}
/*input[type="email"]
{
    font-size:15px;
}*/
#passwordReset {
    font-size:15px;

}
input[placeholder] {
   font-style: italic;
}
#passwordReset:focus {
    outline: none;
}
#passwordReset:hover {
    border: solid #ad000d;
}
/* -------------------------------------------------------------------------------------------------- */
/* ADD-RESTAURANT MODAL:                                                                              */
/* -------------------------------------------------------------------------------------------------- */

.modalOver {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0px;
    top:10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #efefef;
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.modalHeader {
    padding: 10px;
    background-color: #ad000d;
    color: white;
    font-weight: bold;
}

.modalBody{
    background-color: white;
    color: black;
    padding: 100px;
    text-align: center;
    margin: 0px 100px;
}

.close {
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: #E9D460;
    text-decoration: none;
    cursor: pointer;
}













#loginFooter{
  text-align:center;
}

#loginFooter > a{
  color:inherit;
  text-decoration:none;
}



.buttonFull:link,
.buttonFull:visited {

    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
	
 	background-color: #cf000f;
 	border: 1px solid #cf000f;
 	color: #fff;
 	-webkit-transition: background-color .25s, border .25s linear;
 	   -moz-transition: background-color .25s, border .25s linear;
 	    -ms-transition: background-color .25s, border .25s linear;
 	     -o-transition: background-color .25s, border .25s linear;
 	        transition: background-color .25s, border .25s linear;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}





