body{
background-image: url("../css/images/lonelyDiner.jpeg");
background-size: cover;
background-position: center;
background-attachment: fixed;
    
}
#main {


position: relative;
}

.centered{
    

    text-align: center;
    
    color: white;

}

#kevModal{
    
    border-radius: 20px;
    padding-bottom: 20px;
    position: static;
    z-index: 1;
    left:40%; 
    top:35%; 
    overflow: auto; 
    background-color:rgba(255,255,255,0.3); 

}

   #modelStuff{
position: relative;
font-family: 'Damion', cursive;
font-size: 80%;
color: white;
background-color: #ad000d



   }

#loginFooter{
  text-align:center;
}

#loginFooter > a{
  color:inherit;
  text-decoration:none;
}





