/* -------------------------------------------------------------------------------------------------- */
/* Fonts used: 'Damion', cursive;    &    'Lato', sans-serif
/* Colors used: Main monza #cf000f main brighter red color used on underline, buttons
				Darker monza #ad000d darker red color used on sticky nav, footer, hover state
                Confetti #E9D460 yellow color used in nav hover
/* -------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------- */
/* GLOBAL SETUP
/* -------------------------------------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	/*position: relative;*/
}



/* -------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS
/* -------------------------------------------------------------------------------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 70px 0;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* ----- headlines ----- */

h1,
h2,
h3 {
 	font-weight: 300;
 	text-transform: uppercase;
}

h1 {
	margin: 0 0 20px 0;
	color: #fff;
 	font-size: 190%;
 	word-spacing: 4px;
 	letter-spacing: 1px;
}

h2 {
	margin-bottom: 30px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	letter-spacing: 1px;
}

h3 {font-size: 110%;}

h2:after {
	margin: 0 auto;
	margin-top: 30px;
	display: block;
	height: 2px;
	width: 100px;
	background-color: #cf000f; 
	content: " ";
}

/* ----- paragraphs ----- */

.wideParagraph {
	width: 60%;
	margin-left: 20%;
	line-height: 140%;
	text-align: center;
}

/* ----- emphasis ----- */

.bold {font-weight: 400;}


/* ----- links ----- */



/* ----- buttons ----- */

.button:link,
.button:visited {
 	display: inline-block;
 	padding: 10px 30px;
 	text-decoration: none;
 	font-weight: 300;
 	border-radius: 200px;
}

.buttonFull:link,
.buttonFull:visited {
	
 	background-color: #cf000f;
 	border: 1px solid #cf000f;
 	color: #fff;
 	-webkit-transition: background-color .25s, border .25s linear;
 	   -moz-transition: background-color .25s, border .25s linear;
 	    -ms-transition: background-color .25s, border .25s linear;
 	     -o-transition: background-color .25s, border .25s linear;
 	        transition: background-color .25s, border .25s linear;
}

.buttonGhost:link,
.buttonGhost:visited {
	background-color: transparent;
 	border: 1px solid #ccc;
 	color: #ccc;
 	-webkit-transition: background-color .25s, border .25s, color .25s linear;
 	   -moz-transition: background-color .25s, border .25s, color .25s linear;
 	    -ms-transition: background-color .25s, border .25s, color .25s linear;
 	     -o-transition: background-color .25s, border .25s, color .25s linear;
 	        transition: background-color .25s, border .25s, color .25s linear;
}

.buttonFull:hover,
.buttonFull:active {
 	background-color: #ad000d;
 	border: 1px solid #ad000d;
}

.buttonGhost:hover,
.buttonGhost:active {
	background-color: #ad000d;
 	border: 1px solid #ad000d;
 	color: #fff;
 }



/* -------------------------------------------------------------------------------------------------- */
/* HEADER SECTION
/* -------------------------------------------------------------------------------------------------- */

header {
	height: 100vh;
	background-image: -webkit-linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.4)), url(images/lonelyDiner.jpeg);
 	background-image: linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.4)), url(images/lonelyDiner.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*header2 {
	height: 100vh;
	background-image: -webkit-linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.4)), url(resources/css/images/office5.jpeg);
 	background-image: linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.4)), url(resources/css/images/office5.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}*/

.heroTextBox {
 	position: absolute;
 	width: 1140px;
 	top: 40%;
 	left: 5%;
 	text-align: left;
 	/*
 	-webkit-transform: translate(0%, -20%);
 	   -moz-transform: translate(0%, -20%);
 	    -ms-transform: translate(0%, -20%);
 	     -o-transform: translate(0%, -20%);
 	        transform: translate(0%, -20%);
 	        */
}

.stickyNav {
	position: fixed;
	top: 0;
	left: 0;
	width:  100%;
	color:  #fff;
	background-color:  #ad000d;
	z-index: 999999;
}

.logoName {
	display: inline-block;
	color: #fff;
	font-family: 'Damion', cursive;
	font-size:  30px;
	text-decoration: none;
}

.mainNav {
	float:  right;
	margin-top: 7px;
	list-style: none;
}

.mainNav li {
	display: inline-block;
	padding-left:  12px;
	padding-right: 8px;
	border-left: 1px solid #fff;
}

.mainNav li:first-child { border:  none; }

.mainNav li a:link,
.mainNav li a:visited {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	transition: color .25s ease;
}

.mainNav li a:hover,
.mainNav li a:active { color: #E9D460; }



/* -------------------------------------------------------------------------------------------------- */
/* SEARCH SECTION
/* -------------------------------------------------------------------------------------------------- */

.searchSection {
	background-color: #f3f3f3;
}

.searchContainer {
	margin:  0 auto 30px auto;
	width:  60%;
}

.searchContainer:last-child {
	margin:  0 auto 0 auto;
}

.searchTitle {
	padding:  10px;
	width:  100%;
	background-color: #cf000f;
	color:  #fff;
	border-radius: 10px 10px 0 0;
	box-shadow: 2px 0 2px #aaa;
}

.searchTitle p {
	font-size: 80%;
	font-style: italic;
	color:  #efefef;
}

.searchForm {
	padding:  30px 10px;
	width:  100%;
	background-color: #fff;
	color:  #555;
	border-radius: 0 0 10px 10px;
	box-shadow: 2px 2px 4px #ccc;
}

.searchFormInnerContainer {
	margin:  0 auto;
	width: 90%;
}

.searchForm label {
	display: inline-block;
	padding-right: 10px;
	width: 180px;
	text-align:  right;
}

.searchForm input[type=text] {
	margin-bottom: 15px;
	padding: 2px 0 2px 5px;
	width: 60%;
	font-size:  90%;
	color: #777;
	border: 1px solid #a1a1a1;
	border-radius:  5px;
}

.searchForm input[type=text]:focus,
.searchForm select:focus {
	outline: none;
	border: 1px solid #ad000d;
}

.searchButton {
	display:  block;
	margin: 10px auto 0 auto;
	padding:  5px 20px;
	border-radius: 50px;
	background-color: #cf000f;
	border: 1px solid #cf000f;
	color:  #fff;
	font-size:  90%;
	-webkit-transition: .25s ease;
	   -moz-transition: .25s ease;
	    -ms-transition: .25s ease;
	     -o-transition: .25s ease;
	        transition: .25s ease;
}

.searchButton:hover {
	background-color: #ad000d;
	border: 1px solid #ad000d;
}

.searchButton:focus {
	outline:  none;
}

.searchForm .row {
	margin-bottom: 20px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 3px 0 3px 5px;
	background: #fff url(images/arrow-down.png) no-repeat 95% center;
	border-radius: 5px;
	width:  60%;
	color: #777;
	font-size:  90%;
	text-indent: 0.01px;
	text-overflow: "";
}



/* -------------------------------------------------------------------------------------------------- */
/* REGISTRATION SECTION
/* -------------------------------------------------------------------------------------------------- */

.regsitrationSection {
	background-image: -webkit-linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.6)), url(images/tableSetForTwo.jpeg);
 	background-image: linear-gradient(rgba(0, 0 ,0 , 0.7), rgba(0, 0, 0, 0.6)), url(images/tableSetForTwo.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color:  #fff;
	text-align: center;
}

.regsitrationSection p:first-child {
	margin: 10px 0 30px 0;
}
.checkMark {
	padding-right: 5px;
}

.bulletPoints {
	margin-bottom: 20px;
}

.regsitrationSection .button {
	margin-top: 15px;
}



/* -------------------------------------------------------------------------------------------------- */
/* SUGGEST SECTION
/* -------------------------------------------------------------------------------------------------- */

.suggestContainer {
	margin:  30px auto 0 auto;
	width: 70%;
}

.suggestForm {
	padding: 20px;
	background-color: #efefef;
	border-radius: 10px;
}

.required {
	margin-top: -10px;
	padding-bottom: 10px;
	font-size:  70%;
	text-align: right;
}

.suggestForm label {
	display: block;
	margin-bottom: 5px;
	font-size: 85%;
}

.suggestForm input[type=text] {
	margin-bottom: 8px;
	padding: 2px 0 2px 5px;
	width: 100%;
	font-size: 90%;
	color: #777;
	border: 1px solid #ccc;
	border-radius:  5px;
}

.suggestForm input[type=text]:focus {
	outline: none;
	border: 1px solid #ad000d;
}

.suggestForm .checkboxLabel {
	display: inline-block;
	padding-left: 3px;
	font-weight: 300;
	font-size: 70%;
	font-style: italic;
}

.checkboxContainer {
	margin-top: -5px;
}

#restaurantTypeContainer .col,
#foodTypeContainer .col {margin:0 0 20px 0;}

/* -------------------------------------------------------------------------------------------------- */
/* ADD-RESTAURANT MODAL: 																			  */
/* -------------------------------------------------------------------------------------------------- */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0px;
	top:10px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #efefef;
	background-color: rgba(0,0,0,0.4);
}

.modalContent {
	position: relative;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba (0,0,0,0.19);

}

.modalHeader {
	padding: 10px;
	background-color: #ad000d;
	color: white;
	font-weight: bold;
}

.modalBody{
	background-color: white;
	color: black;
	padding: 100px;
	text-align: center;
	margin: 0px, 100px;
}

.close {
	color: white;
	float: right;
	font-size: 25px;
	font-weight: bold;
	margin-right: 10px;
}

.close:hover,
.close:focus {
	color: #E9D460;
	text-decoration: none;
	cursor: pointer;
}


/* -------------------------------------------------------------------------------------------------- */
/* FOOTER SECTION
/* -------------------------------------------------------------------------------------------------- */

.footer {
	padding: 30px 0;
	color:  #efefef;
	background-color:  #ad000d;
	text-align: center;
}
.footer2 {
	padding: 17px 0;
	color:  #efefef;
	background-color:  #ad000d;
	text-align: center;
	/*position: absolute;
	width:100%;
	height: 100px;
	left: 0;
	bottom: 0;*/
}

footer p {
	margin-top: 10px;
	font-size: 75%;
}

.superscript {
	vertical-align: super;
	font-size: 50%;
}
/* -------------------------------------------------------------------------------------------------- */
/* CONTACT US SECTION
/* -------------------------------------------------------------------------------------------------- */

.row2 {
	display:block;
	text-align: center;
	color: #ccc;
	margin: 8px;
	margin-bottom: 18px;
}
#submitButton2 {
	margin-left:45%;
	margin-right:70%;
	margin: 6px;
}
#contactHeader {
	text-align: center;
	margin: 50px;
	font-size: 40px;
	color: #ccc
}
#contact {
	text-align: center;
	width: 100%;
	position: relative;
	margin-top: 40px;
	padding-top: 17px;
	font-size: 43px;
	color: #ccc
}
.contactForm {
	/*position: absolute;*/
 	/*top: 8%;
 	left: 5%;*/
 	/*text-align: center;*/
	 width:1200px;
	 margin:0 auto;
	 position: relative;
}
#name {
	border-radius: 5px;
	box-shadow: 5px;
	width:55%;
	padding:5px;
	background-color: #fff;
	border: solid #ccc;
}
#email {
	border-radius: 7px;
	width:55%;
	padding:5px;
	background-color: #fff;
	border: solid #ccc;
}
#message {
	height:100px;
	width: 55%;
	border-radius: 7px;
	outline:none;
	padding:3px;
	background-color: #fff;	
	border: solid #ccc;
}
#contactFooter {
	font-size: 15px;
	margin: 8px;
	color: #ccc;
}
.material-icons {
	/*position: absolute;
	bottom: 58px;
	right: 478px;*/
	color:#ccc;
	font-size: 10px;
}
#laptopImg{
	color:#ccc;
}
#contactInfo {
	float: left;
	font-size: 15px;
	font-style: italic;
	margin-left:10px;
	color: #ccc;	
}
#contactInfo2 {
	float: right;
	font-size: 15px;
	font-style: italic;
	margin-right:10px;
	color: #ccc;	
}
input:focus {
    outline:none;
}
input[placeholder] {
   font-style: italic;
}
textarea[placeholder] {
	font-style: italic;
}
/* -------------------------------------------------------------------------------------------------- */
/* CONTACT US LINKS
/* -------------------------------------------------------------------------------------------------- */

.riversLink {
	color: #ccc;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#imgTwitter{
    width:15px;
    height: auto;
	/*position: absolute;
	bottom: 25px;
	left: 720px;*/
}






















